[global]
workgroup = WORKGROUP
server string = fxsmb
netbios name = fxsmb
security = user
map to guest = bad user
dns proxy = no

#============================ Share Definitions ==============================
[2tb]
path = /mnt/2tb
browsable = yes
writable = yes
guest ok = yes
read only = no

#============================ Share Definitions ==============================
[4tb]
path = /mnt/4tb
browsable = yes
writable = yes
guest ok = yes
read only = no
